body {
  width: 100%;
  background: rgba(0, 168, 171, .25);
}
.container-fluid {
  padding: 0px;
}
.nav-pills>li>a{
  margin: 0px 60px;
}
.nav-pills>li:nth-child(2){
  border: solid .2px rgba(209, 3, 0, .25);
  border-bottom: none;
  border-top: none;
}
h1 { 
  text-align: center;
  margin: 0;    
  box-sizing: border-box;
  padding: 150px 0px 40px 0px;
  font-family: 'Bungee Hairline', cursive;
  color: #D10300;
}
p{
  letter-spacing: 1.2px;
  font-family: 'Ubuntu Condensed', sans-serif;
  margin: 40px;
  color: #D10300;
}
.topNav {
  padding: 0;
}
.nav {
  margin: 0px 10px;
  background: rgba(0, 168, 171, .50);
}
.nav-pills>li>a:hover {
  background: rgba(0, 168, 171, .25);
}
a {
  font-family: 'Bungee Hairline', cursive;
  color: #D10300;
}
.homeImages {
  position: relative;
  top: 130px;
  text-align: center;
  background: rgba(0, 168, 171, 1);
}
.thumbnail {
  background-color: rgba(0, 168, 171, 0); 
  border: none;
  margin: 0;
}
.thumbnail:hover {
  background: rgba(0, 168, 171, .25); 
}
.col-xs-12.col-md-6{
  padding: 0;
}
.work{
  padding: 40px 0px;
}
.workImages{
  border-radius: 5px;
  text-align: center;
  background: rgba(0, 168, 171, 1);
}
img {
  border-radius: 10px;
}
.input-group{
  padding: 40px;
}
.input-group-addon{
  border: none;
  border-radius: 10px;
  color: rgb(0, 168, 171);
  background-color: #D10300;
}
.form-control{
  border-radius: 10px;
  border-color: #D10300;
  color: rgb(0, 168, 171);  
}
.subButton {
  margin: 0px 40px;
  padding: 10px 40px;
  border: none;
  border-radius: 15px;
  color: rgb(0, 168, 171);
  background-color: #D10300; 
}
.subButton:hover{
  background: rgba(0, 168, 171, .3);
}
.fa{
  font-size: 100px;
  padding: 15px 0px 0px 0px; 
}
.fa:hover{
  color: rgba(0, 168, 171, .3); 
}
.fa.fa-github-square{
  padding: 10px 0px 0px 0px;
}